
:root{
  --table-size: 240px;
  --piece-size: calc(var(--table-size) / 3);
  --border-color: #A0E7E5;
  --border-width: 2px;
}

.table {
   width: var(--table-size);
   height: var(--table-size);
   position: relative;
   border: calc(var(--border-width) * 2) solid var(--border-color);
   background-color: #FBE7C6;
}

.piece, .blank{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: var(--piece-size);
    height: var(--piece-size);
    cursor: pointer;
    border: var(--border-width) solid var(--border-color);
    box-sizing: border-box;
}

.piece{
    transition: all .5s ease;
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    background-color: #B4F8C8;
    z-index: 99;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
